div.modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(4, 9, 17, 0.8);
  visibility: hidden;
  opacity: 0;
}

.modal-wrapper .modal {
  width: min(59rem, 90%);
  background-color: var(--background);
  margin: auto;
  padding: 6.4rem;
  border-radius: 0.8rem;
  font-family: "poppins", sans-serif;
  text-align: center;
}

.modal-wrapper .modal h2 {
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.modal-wrapper .modal p {
  color: var(--gray-dark);
  margin-bottom: 2.4rem;
}

.modal-wrapper .modal input {
  width: min(30.2rem, 100%);
  margin-bottom: 4rem;
  padding: 1.3rem 1.6rem;
  border: 0.2rem solid var(--blue);
  border-radius: 0.8rem;
  outline: none;
}

.modal-wrapper .modal .buttons {
  display: flex;
  width: min(30.2rem, 100%);
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
  padding: 0 0.8rem;
}

.modal-wrapper .modal .buttons button {
  margin-left: 0.8rem;
}
