.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;
  grid-template-areas:
    "header header"
    "left right";
}

header {
  grid-area: header;
}

#bg {
  grid-area: left;
  background: url("../assets/home-bg-img.svg") no-repeat top/contain;
  background-position-x: -11rem;
}

main {
  display: flex;
  grid-area: right;
  align-items: center;
  margin-top: -10rem;
}

main .container {
  width: min(36.3rem, 100%);
}

main .container h2 {
  color: var(--black);
  font-size: clamp(20px, 5vw, 2.8rem);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

input {
  border: 0.2rem solid var(--gray-blue);
  border-radius: 0.8rem;
  padding: 0 1.6rem;
  height: 4.8rem;
  outline: none;
}

input:focus {
  border: 0.2rem solid var(--blue);
}

input,
button,
.button {
  width: 100%;
  margin-bottom: 1.8rem;
}

.separator {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

.separator div:nth-child(2) {
  color: var(--gray-blue);
  font-family: "poppins", sans-serif;
  font-weight: 400;
  padding: 0 1.35rem;
  line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
  background: var(--gray-blue);
  width: 100%;
  height: 1px;
}

.ball {
  position: fixed;
  background: linear-gradient(
    195.96deg,
    #5498ff -122.01%,
    #428eff -8.36%,
    #297fff 98.4%
  );
  clip-path: circle();
  opacity: 0.1;
}

.ball.top {
  width: 63.3rem;
  height: 63.3rem;
  top: -38.5rem;
  right: -40.4rem;
}

.ball.bottom {
  width: 21.2rem;
  height: 21.2rem;
  bottom: -14.8rem;
  right: 5.8rem;
}

@media screen and (max-height: 820px) {
  main {
    margin-top: 0;
  }
}
