div#room.content {
  width: min(112rem, 90%);
}

#room header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#room header div.buttons {
  display: flex;
}

#room div.buttons > a {
  width: 17.3rem;
}

#room header div.buttons > button {
  margin-right: 0.8rem;
}

#room header div.buttons > button > img {
  margin: 0 0 0 1rem;
}

#room header div.buttons > button,
#room header div.buttons > a {
  padding: 1.3rem 1.6rem;
}

#room div.buttons > button > img,
#room div.buttons > a > img {
  width: 2rem;
  height: 2rem;
}

section#question-form {
  margin-bottom: 1.6rem;
}

section#question-form h2 {
  font-family: "poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2.4rem;
  line-height: 4.2rem;
}

section#question-form form {
  border: 0.2rem solid var(--gray-blue);
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  padding: 1.6rem;
}

section#question-form form textarea {
  width: 100%;
  resize: none;
  background: transparent;
  outline: 0;
}

section#question-form form textarea::placeholder {
  color: var(--gray-blue);
}

section#question-form form footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#question-form form footer > div {
  display: flex;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--icons-details);
  line-height: 0;
}

section#question-form form footer > div img {
  margin-right: 0.6rem;
}

section#question-form form footer button {
  padding: 0.8rem 2.4rem;
}

div.question-wrapper {
  background: var(--light-blue);
  padding: 2.4rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
  margin-bottom: 0.8rem;
}

div.question-wrapper div.question-content {
  display: flex;
  align-items: flex-start;
}

div.question-wrapper div.question-content div.user {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  padding: 1.4rem;
  background-color: var(--blue);
}

div.question-wrapper.read {
  background-color: var(--gray-alpha);
}

div.question-wrapper.read div.question-content div.user.read {
  background-color: var(--gray-blue);
}

div.question-wrapper div.question-content > div.question > p {
  display: flex;
  min-height: 5.2rem;
  align-items: center;
  color: var(--black);
  margin-left: 1.6rem;
  word-break: break-word;
}

div.question-wrapper div.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.question-wrapper div.actions > a {
  display: flex;
  align-items: center;
  color: var(--gray);
}

div.question-wrapper div.actions > a > img {
  margin-right: 0.8rem;
}

div.question-wrapper div.actions > a:last-child {
  margin: 0 0.8rem 0 2.4rem;
}
